section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 1.2rem 2.4rem;

  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 0.8rem;

    span {
      background-image: url(../../assets/icons/ArrowRight.svg);
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover span {
      background-image: url(../../assets/icons/ArrowRight-hover.svg);
    }
  }
}

.featured-news {
  grid-area: featured-news;

  .news-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        var(--linear-gradient) 100%
      );
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 2.4rem;

      &:has(.text-lg) {
        padding: 1.2rem;
      }

      h2.text-ellipsis {
        margin-top: 0.8rem;
        -webkit-line-clamp: 3; /* defines the number os lines that will be displayed */
        -moz-line-clamp: 3;
        max-height: 6rem;
      }
    }
  }
}

.weekly-top-news {
  grid-area: weekly-top-news;

  & > div {
    grid-template-columns: repeat(4, 1fr);
  }

  figure {
    position: relative;

    span {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }

    img {
      height: 16rem;
      object-fit: cover;
    }

    p.text-ellipsis {
      max-height: 7rem;
      -webkit-line-clamp: 3;
      -moz-line-clamp: 3;
      margin-top: 0.8rem;
    }
  }
}

.trending-topic {
  grid-area: trending-topic;

  h3.text-ellipsis {
    margin-block: 0.8rem 0.4rem;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
  }

  p.text-ellipsis {
    max-height: 8.8rem;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    color: var(--text-color-secondary);
  }

  article img {
    width: 17.6rem;
    height: 17.6rem;
    object-fit: cover;
  }
}

aside {
  grid-area: more-news;

  .ads-area {
    margin-bottom: 3.2rem;

    img {
      border-radius: 0.4rem;
    }
  }

  .more-news {
    h3.text-ellipsis {
      max-width: 40rem;
      max-height: 8.8rem;
      margin-top: 0.8rem;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      font-family: var(--secondary-font-family);
      font-weight: 400;
    }

    article img {
      width: 7.2rem;
      height: 7.2rem;
      object-fit: cover;
    }
  }
}

article {
  align-items: center;
}
