section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 1.2rem 2.4rem;

  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 0.8rem;

    span {
      background-image: url(../../assets/icons/ArrowRight.svg);
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover span {
      background-image: url(../../assets/icons/ArrowRight-hover.svg);
    }
  }
}

.featured-section {
  .news-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        var(--linear-gradient) 100%
      );
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 2.4rem;

      &:has(.text-lg) {
        padding: 1.2rem;
      }

      h2 {
        display: -webkit-box;
        display: -moz-box;
        -webkit-line-clamp: 3; /* defines the number os lines that we want to be displayed */
        -moz-line-clamp: 3;
        -webkit-box-orient: vertical; /* defines the orientation for the ellipsis text overflow */
        -moz-box-orient: vertical;

        margin-top: 0.8rem;
        max-height: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.weekly-top-news {
  & > div {
    grid-template-columns: repeat(4, 1fr);
  }

  figure {
    position: relative;

    span {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }

    img {
      height: 16rem;
      object-fit: cover;
    }

    p {
      max-height: 7rem;
      overflow: hidden;
      /* text-overflow: ellipsis; */

      display: -webkit-box;
      display: -moz-box;
      -webkit-line-clamp: 3;
      -moz-line-clamp: 3;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;

      margin-top: 0.8rem;
    }
  }
}
