* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;

  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --linear-gradient: #020617;

  --font-family: "Archivo", sans-serif;
  --heading1: 800 2.4rem/135% var(--font-family);
  --heading2: 800 1.6rem/140% var(--font-family);
  --heading3: 800 1.4rem/140% var(--font-family);
  --span: 600 1.4rem/145% var(--font-family);
  --text: 400 1.6rem/140% var(--font-family);
  --text-sm: 400 1.4rem 160% var(--font-family);
}

button,
input,
textarea,
select,
h1,
h2,
h3 {
  font: inherit;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

img {
  max-width: 100%;
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

main {
  margin-top: 40px;
}

.spacing-container {
  max-width: 128rem;
  padding-inline: 3.2rem;
  margin-inline: auto;
}
