* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;

  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --brand-color-dark-hover: #123596;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --linear-gradient: #020617;

  --primary-font-family: "Archivo", sans-serif;
  --secondary-font-family: "Archivo Black", "Archivo", sans-serif;
  --heading1: 800 2.4rem/135% var(--primary-font-family);
  --heading2: 800 1.6rem/140% var(--primary-font-family);
  --heading3: 800 1.4rem/140% var(--primary-font-family);
  --content-tag: 500 1rem/120% var(--primary-font-family);
  --text-span: 600 1.4rem/145% var(--primary-font-family);
  --text: 400 1.6rem/140% var(--primary-font-family);
  --text-sm: 400 1.4rem/160% var(--primary-font-family);
}

button,
input,
textarea,
select,
h1,
h2,
h3 {
  font: inherit;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

img {
  max-width: 100%;
}

div {
  line-height: 0;
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

main {
  margin-block: 4rem 8rem;
  row-gap: 8rem;
  grid-template-columns: 2fr 1.45fr;
  column-gap: 3.2rem;

  grid-template-areas:
    "featured-news featured-news"
    "weekly-top-news weekly-top-news"
    "trending-topic more-news";
}

.spacing-container {
  max-width: 128rem;
  padding-inline: 3.2rem;
  margin-inline: auto;
}

.content-tag {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  font: var(--content-tag);
  text-transform: uppercase;
  letter-spacing: 0.04rem;

  background-color: var(--brand-color-dark);
  border-radius: 0.4rem;
  transition: 200ms linear;
  cursor: pointer;

  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);

  &:hover {
    background-color: var(--brand-color-dark-hover);
  }
}

.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical; /* defines the orientation for the ellipsis text overflow */
  -moz-box-orient: vertical;
  text-overflow: ellipsis;
}
