.nav-primary {
  padding-block: 2rem;

  /* modern CSS allows you to nest selectors, like we usually do on scss, for example */
  img {
    margin-inline: auto;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  div:nth-child(1) {
    justify-self: start;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

.nav-secondary {
  padding-block: 1.4rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}
